

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 238, 238);
   
}

.heading{
    background-color: white;
    padding: 10px 10px 10px 100px;
    margin: 0px;
    display: block;
    font-family: 'Aboreto', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 3 rem;
}

#words{
    color: rgb(73, 205, 242);
}


.addnew{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 70%;
    margin-top: 20px;
}

a{
    text-decoration: none; 
}

.link1{
   
    display: block;
 
    text-align: end;
}
.link2{
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.btn1{
    border-radius: 50%;
    background-color:  #2196f3d4;
    border: none;
    color: white;
    font-size: 25px;
}

.btn2{
      border-radius: 50%;
      background-color:  hsla(207, 80%, 35%, 0.831);
      border: none;
      color: white;
      font-size: 25px;

}

.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 2rem;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 20px;
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33.33% - 20px); 
    box-sizing: border-box;
    background-color: white;
    height: 250px;
    border-radius: 10px;
}



.card a {
    text-decoration: none;
    color: inherit;
}


.text1{
    color:  rgb(46 184 230);
    margin-left: 20px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.label1{
    text-decoration: line-through;
    opacity: 0.5;
}

.label2{
    line-height: 40px;
}

input{
  height: 20px;
  width: 20px;  
}

.filler{
    opacity: 0.5;
    
}

.newtask{
    display: flex;
    flex-flow:  wrap;
    position: absolute;
    top: 205px;
    left: 36%;
}

.posi{
    position: relative;
}

.card1{
    border: white solid;
    background-color: white;
    width: 415px;
    height: 180px;
    margin: 20px;
    border-radius: 10px;
    
}

#input1{
    width: 88%;
    height: 4vh;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:  rgb(239, 238, 238);
    border-radius: 4px;
    padding-left: 15px;
    border: solid  rgb(239, 238, 238);
}

.span1{
    background-color: #2196f3d4;
    border-radius: 4px;
    padding:5px 25px 5px;
    position: absolute;
    top: 21vh;
    right: 3vw;
}

.para2{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: auto;
    
}

.back1{
    font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color: #453d3d;
    width: 35px;
    height: 35px;
}

.list1{
    /* position: relative;
    left: -240px; */
    display: inline-block;
    margin-left: 285px;
}

.list2{
    /* position: relative;
    
    top: 60px; */
    
    display: inline-block;
    margin-left: 150px;
}

.newcard{
    
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-top: 30px;
    /* position: relative;
    top: 40px;
    left: 400px; */
}

.newtext1{
    color:  rgb(46 184 230);
    text-align: center;
    font-size: 20px;    
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}


.newlabel1{
    text-decoration: line-through;
    opacity: 0.5;
    line-height: 50px;
}

.newlabel2{
    line-height: 60px;
}

.input2{
    margin-left: 25px;
}

.card2{
    border: white solid;
    background-color: white;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    position: relative;
}

.lastinput{
    width: 365px;
    height: 27px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:  rgb(239, 238, 238);
    border-radius: 4px;
    border: solid  rgb(239, 238, 238);
}

.span2{
    background-color: #2196f3d4;
    border-radius: 4px;
    padding:5px 25px 5px;
    position: relative;
    top: 20px;
    left: 263px;
    
}

.distance{
    margin-top: 15px;
   
}
.allCards1{
    display: flex;
    flex-flow: column;
    margin: 0px 36%;
}


.horizantal-line{
    opacity: 0.3;
    font-size: larger;
}


.close{
    display: inline;
    position: relative;
    top: -35px;
    left: 375px;
    font-size: xx-large;
    opacity: 0.5;
    font-weight: 600;
}

.line{
    margin-bottom: -22px;
}

.add-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.close1{
    display: inline;
    position: relative;
    top: -35px;
    left: 375px;
    font-size: xx-large;
    opacity: 0.5;
    font-weight: 600;
}

.line1{
    margin-bottom: -22px;
}

.next1{
    float: right;
    padding-right: 10%;
}


.back {
    padding-left: 10%;
} 

    @media only screen and (max-width:545px) {
        body{
            font-size: large;
        }

        .heading{
            padding-left: 10px;
            font-size: 3rem;
        }

        .addnew{
            display: flex;
            justify-content: center;
        }

        .btn1{
            font-size: 2rem;
        }

        
        .link2{
            display: none;
        }
        .allCards{
            display: flex;
            justify-content: center;
            /*align-items: center;
            align-content: center; */
            margin: 0px
        }

        .card{
            width: 93vw;
            height: 45vh;
            font-size: 1.7rem;
           
        }

.card1{
            position: absolute;
            width: 95vw;
            margin: 0;
        
        }
        .newcard{
            width: 95vw;
        }
.span1{
    position: absolute;
    top: 19vh;
    display: inline-block;
    right: 20px;
    padding: 0;
    height: 26px;
    box-sizing: border-box;
    padding: 2px 10px;

        }
        .close{
            position: relative;
            left: 87vw;
        }
        .allCards1{
            width: 98vw;
            margin: 0;
            align-items: center;
        }
        .link4{
            display: none;
        }
        .btn2{
            font-size: 2rem;
            position: relative;
            right: 40vw;
        }
        .card2{
            width: 96vw;
        }
        .newtask{
            left: 1%;
        }

        .line1 {
        width: 90vw;
        display: flex;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }

    .close1 {
    position: static;
}
.lastinput {
    width: 88%;
    }

    .span2 {
    left: 56%;
}

.sub-container {
    justify-content: center;
    }
        }

@media (min-width: 560px) and (max-width: 1200px) {
            .newtask {
              left: 25%;
            }
            #input1 {
              height: 3vh;
            }
            .span1 {
              top: 160px;
              right: 40px;
            }
          }
    
    
    